<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h2>Admin page</h2>

    <span sec:authorize="isAuthenticated()">
        | Logged : <span sec:authentication="name"></span> | Role: <span sec:authentication="principal.authorities"></span> |
    </span>

    <p><a href="/logout"> Sign out </a></p>
    <p><a href="/"> Index page </a></p>
    <p><a href="/admin/newProduct"> Add new product </a></p>
    <p><a href="/admin/showAllProducts"> Show all products </a></p>
    <p><a href="/admin/showAllUsers"> Show all users </a></p>

    <form action="/admin/findProduct" method="get">
        <p>Find product by model:</p>
        <p>Model <input type="text" name="modelProduct" required="required"/>
        <input type="submit" value="find" /></p>
    </form>
    <br />
    <form action="/admin/search" method="get">
        <p>Find product:</p>
        <p>Price from <input type="text" name="priceFrom" th:value="${priceFrom}" pattern="[0-9.]+" title="Please enter only positive numbers"/>
            to <input type="text" name="priceTo" th:value="${priceTo}" pattern="[0-9.]+" title="Please enter only positive numbers"/></p>
        <p>and producers </p>
        <input type="checkbox" name="producer1" value="Acer" th:checked="${producer1}" />Acer<br />
        <input type="checkbox" name="producer2" value="Apple" th:checked="${producer2}"/>Apple<br />
        <input type="checkbox" name="producer3" value="Asus" th:checked="${producer3}"/>Asus<br />
        <input type="checkbox" name="producer4" value="Dell" th:checked="${producer4}"/>Dell<br />
        <input type="checkbox" name="producer5" value="HP" th:checked="${producer5}"/>HP<br />
        <input type="checkbox" name="producer6" value="Huawei" th:checked="${producer6}"/>Huawei<br />
        <input type="checkbox" name="producer7" value="Lenovo" th:checked="${producer7}"/>Lenovo<br />
        <input type="checkbox" name="producer8" value="MSI" th:checked="${producer8}"/>MSI<br />
        <input type="submit" value="search" />
    </form>

    <div data-th-if="${allProducts}" >

        <form action="/admin/elements" method="get" >
            <p>Elements on page
            <select name="elements">
                <option th:value="${elements}" ><span th:text="${elements}"></span></option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25" >25</option>
            </select>
            <input type="submit" value="apply"/></p>
        </form>

        <form action="/admin/sortProduct" method="get" >
            <p>Sort products by
            <select name="sort">
                <option th:value="${sortName}" ><span th:text="${sortName}"></span></option>
                <option value="idAsc" >id asc</option>
                <option value="idDesc" >id desc</option>
                <option value="modelAsc">Product model a - z</option>
                <option value="modelDesc">Product model z - a</option>
                <option value="priceAsc" >Less to big price</option>
                <option value="priceDesc">Big to less price</option>
            </select>
            <input type="submit" value="sort"/></p>
        </form>
        <br />

        <div data-th-if="${countProducts}" ><p th:text="'Count products: '+${countProducts}"></p></div>

        <div data-th-if="${numberPagesList}" >

            <span data-th-if="${prevPage}" ><a th:href="'/admin/page-'+${prevPage}"> prev </a></span>
            <th:div th:each=" page:${numberPagesList}">
                <a th:href="'page-'+${page+1}"><span th:text="${page+1}"></span></a>
            </th:div>
            <span data-th-if="${nextPage}" ><a th:href="'/admin/page-'+${nextPage+1}"> next </a></span>


        </div>

    </div>
    <br />

    <th:block th:each=" product:${productList}">
        <img th:src="${product.image}" height="100" />
        <p><a th:href="'/admin/'+${product.model}+'-'+${product.id}"><span th:text="${product.model}"></span></a></p>
        <p th:text=" 'Id: ' + ${product.id} + ', Model: '+ ${product.model} +',  Price: ' + ${product.price} + ', Description: '+ ${product.description}"/>
        <form action="/edit" method="post">
            <input type="hidden" name="id" th:value="${product.id}"  />
            <input type="submit" value="edit" />
        </form>
        <form action="/admin/delete" method="post">
            <input type="hidden" name="id" th:value="${product.id}"  />
            <input type="submit" value="delete" />
        </form>
        <hr/>
    </th:block>

    <th:block th:each=" product:${allProducts}">
        <img th:src="${product.image}" height="100" />
        <p><a th:href="'/admin/'+${product.model}+'-'+${product.id}"><span th:text="${product.model}"></span></a></p>
        <p th:text=" 'Id: ' + ${product.id} + ', Model: '+ ${product.model} +',  Price: ' + ${product.price} +', Producer: '+ ${product.producer} +', Description: '+ ${product.description}"/>

        <form action="/admin/edit" method="get">
            <input type="hidden" name="id" th:value="${product.id}"  />
            <input type="submit" value="edit" />
        </form>
        <form action="/admin/delete" method="post">
            <input type="hidden" name="id" th:value="${product.id}"  />
            <input type="submit" value="delete" />
        </form>
        <hr/>
    </th:block>

    <div data-th-if="${countUsers}" ><p th:text="'Number of users: '+${countUsers}"></p></div>
    <th:block th:each=" user:${users}">
        <p th:text="'Id: ' + ${user.id} + ', Username: ' + ${user.username} + ', E-mail: '+ ${user.email} + ', Role: '+ ${user.authority}" />
        <form action="/admin/editUser" method="get">
            <input type="hidden" name="id" th:value="${user.id}"  />
            <input type="submit" value="edit" />
        </form>
        <hr/>
    </th:block>

</body>
</html>