<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
</head>
<body>
    <h1>Edit page</h1>

    <p><a href="/admin"> admin page </a></p>
    <p><a href="/"> index page </a></p>

    <form action="/admin/updateProduct" method="post" enctype="multipart/form-data">
        <th:block th:each=" product:${product}">
            <p>Update product</p>
            <img th:src="${product.image}" height="100px" />
            <p>Id <input type="text" name="id" th:value="${product.id}" readonly="readonly"/></p>
            <p>Model <input type="text" name="model" th:value="${product.model}" /></p>
            <p>Price <input type="text" name="price" th:value="${product.price}" /></p>
            <p>Producer <select name="producer" >
                <option th:value="${product.producer}" ><span th:text="${product.producer}"></span></option>
                <option value="Acer" >Acer</option>
                <option value="Apple" >Apple</option>
                <option value="Asus">Asus</option>
                <option value="Dell">Dell</option>
                <option value="HP" >HP</option>
                <option value="Huawei" >Huawei</option>
                <option value="Lenovo" >Lenovo</option>
                <option value="MSI" >MSI</option>
            </select></p>
            <p>Description</p>
            <p><textarea rows="4" cols="35" name="description" th:text="${product.description}" /></p>
            <p>Image <input type="text" name="image" th:value="${product.image}" readonly="readonly"/></p>
            <p>Image <input type="file" name="file" /></p>
            <input type="submit" value="update"/>
        </th:block>
    </form>

</body>
</html>