<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <h1>Edit user</h1>

    <p><a href="/admin"> admin page </a></p>
    <p><a href="/"> index page </a></p>

    <form action="/admin/updateUser" method="post">
        <th:block th:each=" user:${userOld}">
            <p>Update user</p>
            <p>Id <input type="text" name="id" th:value="${user.id}" readonly="readonly"/></p>
            <p>Username <input type="text" name="username" th:value="${user.username}" readonly="readonly"/></p>
            <p>E-mail <input type="text" name="email" th:value="${user.email}" readonly="readonly"/></p>
            <div sec:authorize="hasRole('ROLE_MODERATOR')">
                <p>Role <input type="text" name="role" th:value="${user.authority}" readonly="readonly"/></p>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <p>Role <select name="role">
                    <option th:value="${user.authority}" ><span th:text="${user.authority}"></span></option>
                    <option value="user" >user</option>
                    <option value="moderator" >moderator</option>
                </select></p>
            </div>
            <input type="submit" value="update"/>
        </th:block>
    </form>

</body>
</html>