<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <h2>Index page</h2>

    <p><a href="/admin"> admin page </a></p>

    <form action="/lprice" method="get">
        <p>Find laptop where price is less or equal</p>
        <label>Price</label>
        <input type="text" name="price" pattern="[0-9.]+" title="Please enter only positive numbers"/>
        <input type="submit" value="find"/>
    </form>
    <form action="/reset" method="get">
        <input type="submit" value="reset filter"/>
    </form>
    <br />
    <th:block th:each=" product:${listProducts}">
        <img th:src="${product.image}" height="100" />
        <p><a th:href="${product.model}+'-'+${product.id+42}"><span th:text="${product.model}"></span></a></p>
        <p th:text="'Model: '+ ${product.model} +',  Price: ' + ${product.price} + ', Description: '+ ${product.description}"/>
        <hr />
    </th:block>

    <th:block th:each=" product:${allProducts}">
        <img th:src="${product.image}" height="100" />
        <p><a th:href="${product.model}+'-'+${product.id+42}"><span th:text="${product.model}"></span></a></p>
        <p th:text="'Model: '+ ${product.model} +',  Price: ' + ${product.price} + ', Description: '+ ${product.description}"/>
        <hr />
    </th:block>

    <img src="images/spring.jpg"  />

    <script type="text/javascript" src="js/main.js"></script>

</body>
</html>