<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <h2>Index page</h2>

    <div sec:authorize="isAuthenticated()">
        <p th:inline="text">Hello [[${#httpServletRequest.remoteUser}]].</p>
        <p><a href="/logout"> Logout </a></p>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <p><a href="/auth"> Login </a></p>
        <p><a href="/registration"> Registration </a></p>
    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <p><a href="/admin"> Admin page </a></p>
    </div>

    <div sec:authorize="hasRole('ROLE_MODERATOR')">
        <p><a href="/admin"> Admin page </a></p>
        <p><a href="/mypage"> My page </a></p>
        <p><a href="/basket"> Basket </a></p>
        <p><a href="/orders"> Orders </a></p>
    </div>

    <div sec:authorize="hasRole('ROLE_USER')">
        <p><a href="/mypage"> My page </a></p>
        <p><a href="/basket"> Basket </a></p>
        <p><a href="/orders"> Orders </a></p>
    </div>

    <form action="/lprice" method="get">
        <p>Find laptop where price is less or equal</p>
        <label>Price</label>
        <input type="text" name="price" pattern="[0-9.]+" title="Please enter only positive numbers"/>
        <input type="submit" value="find"/>
    </form>

    <form action="/reset" method="get">
        <input type="submit" value="reset filter"/>
    </form>

    <br />
    <th:block th:each=" product:${listProducts}">
        <img th:src="${product.image}" height="100" />
        <p><a th:href="${product.model}+'-'+${product.id+42}"><span th:text="${product.model}"></span></a></p>
        <p th:text="'Model: '+ ${product.model} +',  Price: ' + ${product.price} + ', Description: '+ ${product.description}"/>
        <div sec:authorize="hasAnyRole('ROLE_USER','ROLE_MODERATOR')">
            <form action="/order" method="post">
                <input type="hidden" name="productId" th:value="${product.id}"  />
                <input type="submit" value="add to basket" />
            </form>
        </div>
        <hr />
    </th:block>

    <th:block th:each=" product:${allProducts}">
        <img th:src="${product.image}" height="100" />
        <p><a th:href="${product.model}+'-'+${product.id+42}"><span th:text="${product.model}"></span></a></p>
        <p th:text="'Model: '+ ${product.model} +',  Price: ' + ${product.price} + ', Description: '+ ${product.description}"/>
        <div sec:authorize="hasAnyRole('ROLE_USER','ROLE_MODERATOR')">
            <form action="/order" method="post">
                <input type="hidden" name="productId" th:value="${product.id}"  />
                <input type="submit" value="add to basket" />
            </form>
        </div>
        <hr />
    </th:block>

    <img src="images/spring.jpg"  />

    <script type="text/javascript" src="js/main.js"></script>

</body>
</html>