<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>My page</title>
</head>
<body>
    <h1>My page</h1>

    <th:block th:each=" thisUser:${user}">
        <p th:text="'username: '+ ${thisUser.username} +',  password: ' + ${thisUser.password} + ', email: '+ ${thisUser.email}"/>
    </th:block>

    <p th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</p>

    <p><a href="/logout"> Sign out </a></p>
    <p><a href="/"> Index page </a></p>

</body>
</html>